
.crest {
  width: 90px;
}

.crest-small {
  width: 70px;
}

td .crest {
  width: 13px;
}

.calendar {
  height: 600px;
}

.flag {
  width: 17px;
}

.langFlag {
  width: 22px;
}



@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .6s linear infinite;
}

.Select.is-open { position: relative; z-index: 1000; }
